<footer class="footer">
  <div class="container footer-container">
    <a href="">
      <svg class="" width="84" height="36">
        <use href="../img/sprite.svg#icon-logo-yoga-bloom"></use>
      </svg>
    </a>
    <p>
      Subscribe to our newsletter for the latest updates on our yoga courses and
      events.
    </p>
    <form action="">
      <input type="text" />
      <button type="submit">Join</button>
    </form>
    <p>
      By subscribing, you consent to our Privacy Policy and agree to receive
      updates.
    </p>
    <div>
      <p>Quick Links</p>
      <ul>
        <li><a href="">Yoga Classes</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Contacts</a></li>
      </ul>
    </div>
    <div>
      <p>Connect With Us</p>
      <ul>
        <li>
          <a href="../img/sprite.svg#icon-facebook">
            <svg class="" width="24" height="24">
              <use href=""></use>
            </svg>
            <p>Facebook</p>
          </a>
        </li>
        <li>
          <a href="../img/sprite.svg#icon-instagram">
            <svg class="" width="24" height="24">
              <use href=""></use>
            </svg>
            <p>Instagram</p>
          </a>
        </li>
        <li>
          <a href="../img/sprite.svg#icon-linkedin">
            <svg class="" width="24" height="24">
              <use href=""></use>
            </svg>
            <p>LinkedIn</p>
          </a>
        </li>
        <li>
          <a href="../img/sprite.svg#icon-youtube">
            <svg class="" width="24" height="24">
              <use href=""></use>
            </svg>
            <p>YouTube</p>
          </a>
        </li>
      </ul>
    </div>
    <p>© 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
