<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-form-wrapper">
      <a class="footer-logo" href="">
        <svg class="footer-logo-icon" width="84" height="36">
          <use href="./img/sprite.svg#icon-logo-yoga-bloom"></use>
        </svg>
      </a>
      <p class="footer-header">
        Subscribe to our newsletter for the latest updates on our yoga courses
        and events.
      </p>
      <form class="footer-form" action="submit">
        <input
          class="footer-form-input"
          type="email"
          name="form-email"
          id="footer-email"
          placeholder="Your email here"
          pattern="([A-Za-z0-9_.-]{1,})@([A-Za-z0-9_.-]{1,})\.([A-Za-z]{2,8})"
          required
        />
        <button class="footer-button" type="submit">Join</button>
      </form>
      <p class="footer-policy-text">
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </p>
    </div>
    <div class="footer-lists-wrapper">
      <div class="quick-links-wrapper">
        <p class="quick-links-header">Quick Links</p>
        <ul class="quick-links-list">
          <li class="quick-links-list-item">
            <a class="quick-links" href="#yoga-classes">Yoga Classes</a>
          </li>
          <li class="quick-links-list-item">
            <a class="quick-links" href="#team">Team</a>
          </li>
          <li class="quick-links-list-item">
            <a class="quick-links" href="#pricing-plan">Pricing</a>
          </li>
          <li class="quick-links-list-item">
            <a class="quick-links" href="#footer">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="connect-wrapper">
        <p class="connect-header">Connect With Us</p>
        <ul class="connect-list">
          <li class="connect-list-item">
            <a
              class="footer-socials-link"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
              <p>Facebook</p>
            </a>
          </li>
          <li class="connect-list-item">
            <a
              class="footer-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
              <p>Instagram</p>
            </a>
          </li>
          <li class="connect-list-item">
            <a
              class="footer-socials-link"
              href="https://www.linkedin.com/"
              target="_blank"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>LinkedIn</p>
            </a>
          </li>
          <li class="connect-list-item">
            <a
              class="footer-socials-link"
              href="https://www.youtube.com/"
              target="_blank"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
              <p>YouTube</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright-text">&#169; 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
