<section class="gallery" id="gallery">
  <div class="conteiner">
    <h2 class="gallery_title">
      Breathe in the Space
    </h2>
    <p class="gallery_description">
      Step inside YogaBloom and feel the calm.
      Explore our serene studio and the peaceful
      moments our community shares during
      each session.
    </p>
    <ul class="gallery_list">
      <li class="gallery_item">
        <img srcset="../img/gallery-photo1.jpg 1x, ../img/gallery-photo1@2x.jpg 2x" src="../img/gallery-photo1.jpg"
          alt="yoga" class="gallery_images">
      </li>
      <li class="gallery_item">
        <img srcset="../img/gallery-photo2.jpg 1x, ../img/gallery-photo2@2x.jpg 2x" src="../img/gallery-photo2.jpg"
          alt="yoga" class="gallery_images">
      </li>
      <li class="gallery_item">
        <img srcset="../img/gallery-photo3.jpg 1x, ../img/gallery-photo3@2x.jpg 2x" src="../img/gallery-photo3.jpg"
          alt="yoga" class="gallery_images">
      </li>
      <li class="gallery_item">
        <img srcset="../img/gallery-photo4.jpg 1x, ../img/gallery-photo4@2x.jpg 2x" src="../img/gallery-photo4.jpg"
          alt="yoga" class="gallery_images">
      </li>
      <li class="gallery_item">
        <img srcset="../img/gallery-photo5.jpg 1x, ../img/gallery-photo5@2x.jpg 2x" src="../img/gallery-photo5.jpg"
          alt="yoga" class="gallery_images">
      </li>
      <li class="gallery_item">
        <img srcset="../img/gallery-photo6.jpg 1x, ../img/gallery-photo6@2x.jpg 2x" src="../img/gallery-photo6.jpg"
          alt="yoga" class="gallery_images">
      </li>
    </ul>
  </div>

</section>