<header class="page-header">
  <div class="container header-container">
    <nav class="nav">

      <a class="nav-logo" href="./index.html">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="./img/sprite.svg#icon-logo-yoga-bloom"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="item-list" href="#yoga-classes">Yoga Classes</a>
        </li>
        <li class="nav-item">
          <a class="item-list" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="item-list" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="item-list" href="#pricing-plan">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="item-list" href="#footer">Contacts</a>
        </li>
      </ul>
      <button class="burger-btn" type="button">
        <svg width="24" height="24" class="burger-icon">
          <use href="../img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <a class="nav-logo" href="./index.html">
        <svg class="nav-logo-icon" width="84" height="36">
          <use href="../img/sprite.svg#icon-logo-yoga-bloom"></use>
        </svg>
      </a>
    </nav>
    <button class="btn-push" type="button">
      Join<span class="btn-join"> Now</span>
    </button>
  </div>
</header>
