<section class="hero">
  <div class="hero-img"></div>
  <div class="container hero-container">
    <div class="hero-info">
      <h1 class="hero-header">Transform Your Life with Our Yoga Clases</h1>
      <div class="hero-wrapper">
        <p class="hero-descr">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <ul class="button-list">
          <li>
            <a class="hero-btn-join button-general" href="#pricing-plan"
              >Join</a
            >
          </li>
          <li>
            <a class="hero-btn-learn button-general" href="#gallery"
              >Learn More</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
