<section class="section-pricing-plan" id="pricing-plan">
  <div class="container container-pricing-plan">
    <p class="pricing-plan-preheader">Affordable</p>
    <h2 class="pricing-plan-header">Pricing Plans</h2>
    <p class="pricing-plan-text">
      Choose the perfect plan for your yoga journey.
    </p>

    <ul class="pricing-plan-list">
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">One Session</h3>
            <p class="pricing-plan-cost">$10</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">1 group session</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                10% discount for next 2 Sessions
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="prising-plan-first button-general"
          data-modal-open
        >
          Join
        </button>
      </li>
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">8 Sessions Package</h3>
            <p class="pricing-plan-cost">$65</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">6 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">2 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Priority customer support
              </p>
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="prising-plan-first button-general"
          data-modal-open65
        >
          Join
        </button>
      </li>
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">12 Sessions Package</h3>
            <p class="pricing-plan-cost">$80</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">8 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">4 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Access to advanced classes
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Monthly yoga challenges
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Exclusive member discounts
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="prising-plan-first button-general"
          data-modal-open80
        >
          Join
        </button>
      </li>

      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">12 Sessions Package</h3>
            <p class="pricing-plan-cost">$80</p>
            <button
              type="button"
              class="prising-plan-first"
              data-modal-open80tab
            >
              Join
            </button>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">8 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">4 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Access to advanced classes
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Monthly yoga challenges
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Exclusive member discounts
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="modal-overlay modal-overlay-10" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg width="32" height="32" class="modal-close-icon">
        <use href="./img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text">Join Now!</h2>
    <h3 class="modal-text-h">One Session</h3>
    <p class="modal-p">$10</p>
    <form class="modal-form">
      <label class="modal-label" for="user-name-10">Your Name</label>
      <div class="modal-box-div">
        <input
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name-10"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email-10">Email</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-email"
              id="user-email-10"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone-10">Phone number</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-phone"
              id="user-phone-10"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn button-general" type="button">
          Go to checkout
        </button>
      </div>
    </form>
  </div>
</div>

<div class="modal-overlay modal-overlay-65" data-modal65>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close65>
      <svg width="32" height="32" class="modal-close-icon">
        <use href="./img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text">Join Now!</h2>
    <h3 class="modal-text-h">8 Sessions Package</h3>
    <p class="modal-p">$65</p>
    <form class="modal-form">
      <label class="modal-label" for="user-name-65">Your Name</label>
      <div class="modal-box-div">
        <input
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name-65"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email-65">Email</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-email"
              id="user-email-65"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone-65">Phone number</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-phone"
              id="user-phone-65"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn button-general" type="button">
          Go to checkout
        </button>
      </div>
    </form>
  </div>
</div>

<div class="modal-overlay modal-overlay-80" data-modal80 data-modal80tab>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close80>
      <svg width="32" height="32" class="modal-close-icon">
        <use href="./img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text">Join Now!</h2>
    <h3 class="modal-text-h">12 Sessions Package</h3>
    <p class="modal-p">$80</p>
    <form class="modal-form">
      <label class="modal-label" for="user-name-80">Your Name</label>
      <div class="modal-box-div">
        <input
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name-80"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email-80">Email</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-email"
              id="user-email-80"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone-80">Phone number</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-phone"
              id="user-phone-80"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn button-general" type="button">
          Go to checkout
        </button>
      </div>
    </form>
  </div>
</div>

<!-- <div class="modal-overlay modal-overlay-80des" data-modal80des>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close80des>
      <svg width="32" height="32" class="modal-close-icon">
        <use href="../img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text">Join Now!</h2>
    <h3 class="modal-text-h">12 Sessions Package</h3>
    <p class="modal-p">$80</p>
    <form class="modal-form">
      <label class="modal-label" for="user-name-80">Your Name</label>
      <div class="modal-box-div">
        <input
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name-80"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email-80">Email</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-email"
              id="user-email-80"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone-80">Phone number</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-phone"
              id="user-phone-80"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn button-general" type="button">
          Go to checkout
        </button>
      </div>
    </form>
  </div>
</div> -->
