<section class="section-pricing-plan" id="pricing-plan">
  <div class="container container-pricing-plan">
    <div class="pricing-plan-lead-wrapper">
      <p class="pricing-plan-preheader">Affordable</p>
      <div class="pricing-plan-header-wrapper">
        <h2 class="pricing-plan-header">Pricing Plans</h2>
        <p class="pricing-plan-text">
          Choose the perfect plan for your yoga journey.
        </p>
      </div>
    </div>
    <ul class="pricing-plan-list">
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">One Session</h3>
            <p class="pricing-plan-cost">$10</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">1 group session</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                10% discount for next 2 Sessions
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
        <button type="button" class="prising-plan-first">Join</button>
      </li>
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">8 Sessions Package</h3>
            <p class="pricing-plan-cost">$65</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">6 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">2 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Priority customer support
              </p>
            </li>
          </ul>
        </div>
        <button type="button" class="prising-plan-first">Join</button>
      </li>
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">12 Sessions Package</h3>
            <p class="pricing-plan-cost">$80</p>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">8 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">4 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Access to advanced classes
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Monthly yoga challenges
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Exclusive member discounts
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
        <button type="button" class="prising-plan-first">Join</button>
      </li>
      <li class="pricing-plan-list-item">
        <div class="pricing-plan-list-context">
          <div class="pricing-plan-list-head">
            <h3 class="pricing-plan-list-header">12 Sessions Package</h3>
            <p class="pricing-plan-cost">$80</p>
            <button type="button" class="prising-plan-first">Join</button>
          </div>
          <ul class="pricing-plan-package-list">
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">8 Group Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">4 Individual Sessions</p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Access to advanced classes
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Monthly yoga challenges
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Exclusive member discounts
              </p>
            </li>
            <li class="pricing-plan-information-line">
              <svg class="" width="24" height="25">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="pricing-plan-information-text">
                Community support group
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>

///////////////////////////////////// /*MODAL WINDOW 10$*/

<div class="modal-overlay">
  <div class="modal">
    <button type="button" class="modal-close-btn">
      <svg width="32" height="32" class="modal-close-icon">
        <use href="../img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text">Join Now!</h2>
    <h3 class="modal-text-h">One Session</h3>
    <p class="modal-p">$10</p>
    <form class="modal-form">
      <label class="modal-label" for="user-name">Your Name</label>
      <div class="modal-box-div">
        <input
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email">Email</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-email"
              id="user-email"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone">Phone number</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-phone"
              id="user-phone"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn" type="button">Go to checkout</button>
      </div>
    </form>
  </div>
</div>

/*MODAL WINDOW 65$*/

<div class="modal-overlay moday-overlay-65">
  <div class="modal">
    <button type="button" class="modal-close-btn">
      <svg width="32" height="32" class="modal-close-icon">
        <use href="../img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text">Join Now!</h2>
    <h3 class="modal-text-h">8 Sessions Package</h3>
    <p class="modal-p">$65</p>
    <form class="modal-form">
      <label class="modal-label" for="user-name">Your Name</label>
      <div class="modal-box-div">
        <input
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email">Email</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-email"
              id="user-email"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone">Phone number</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-phone"
              id="user-phone"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn" type="button">Go to checkout</button>
      </div>
    </form>
  </div>
</div>

/*MODAL WINDOW 80$*/

<div class="modal-overlay moday-overlay-80">
  <div class="modal">
    <button type="button" class="modal-close-btn">
      <svg width="32" height="32" class="modal-close-icon">
        <use href="../img/sprite.svg#icon-pop-up-close"></use>
      </svg>
    </button>
    <h2 class="modal-text">Join Now!</h2>
    <h3 class="modal-text-h">12 Sessions Package</h3>
    <p class="modal-p">$80</p>
    <form class="modal-form">
      <label class="modal-label" for="user-name">Your Name</label>
      <div class="modal-box-div">
        <input
          class="modal-input-name"
          type="text"
          name="user-name"
          id="user-name"
        />
      </div>

      <div class="desktop-wrapper">
        <div class="email-wrapper">
          <label class="modal-label" for="user-email">Email</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-email"
              id="user-email"
            />
          </div>
        </div>
        <div class="email-wrapper">
          <label class="modal-label" for="user-phone">Phone number</label>
          <div class="modal-box-div">
            <input
              class="modal-input"
              type="text"
              name="user-phone"
              id="user-phone"
            />
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="modal-btn" type="button">Go to checkout</button>
      </div>
    </form>
  </div>
</div>
