pricing-plans

<section>
  <p>Affordable</p>
  <div>
    <h2>Pricing Plans</h2>
    <p>Choose the perfect plan for your yoga journey.</p>
  </div>
  <ul>
    <li>
      <div>
        <h3>One Session</h3>
        <p>$10</p>
      </div>
      <ul>
        <li>
          <svg class="" width="24" height="25">
            <use href="../img/sprite.svg#icon-check"></use>
          </svg>
          <p>1 group session</p>
        </li>
        <li>
          <svg class="" width="24" height="25">
            <use href="../img/sprite.svg#icon-check"></use>
          </svg>
          <p>10% discount for next 2 Sessions</p>
        </li>
        <li>
          <svg class="" width="24" height="25">
            <use href="../img/sprite.svg#icon-check"></use>
          </svg>
          <p>Community support group</p>
        </li>
      </ul>
      <button>Join</button>
    </li>
    <li></li>
    <li></li>
  </ul>
</section>
