<section class="team-section">
  <div class="container team-container">
    <div class="team-header-wrapper">
      <p class="team-header-decor-up">Meet</p>
      <h2 class="team-header">Our Team</h2>
      <p class="team-header-decor-down">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <ul class="team-list">
      <li class="team-list-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/team/t-1-mob-1x.png 1x,
              ../img/team/t-1-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/team/t-1-tab-1x.png 1x,
              ../img/team/t-1-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1336px)"
            srcset="
              ../img/team/t-1-desk-1x.png 1x,
              ../img/team/t-1-desk-2x.png 2x
            "
          />
          <img
            src="../img/team/t-1-mob-1x.png"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>
        <div class="team-info">
          <h3 class="team-name">Liam Johnson</h3>
          <p class="team-descr position">Meditation Coach</p>
          <p class="team-descr details">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <div class="team-socials">
            <ul class="team-socials-list">
              <li>
                <a
                  href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/goitclub/">
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/team/t-2-mob-1x.png 1x,
              ../img/team/t-2-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/team/t-2-tab-1x.png 1x,
              ../img/team/t-2-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1336px)"
            srcset="
              ../img/team/t-2-desk-1x.png 1x,
              ../img/team/t-2-desk-2x.png 2x
            "
          />
          <img
            src="../img/team/t-2-mob-1x.png"
            alt="Emma Stone"
            width="343"
            height="221"
          />
        </picture>
        <div>
          <h3 class="team-name">Emma Stone</h3>
          <p class="team-descr position">Yoga Instructor</p>
          <p class="team-descr details">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <div class="team-socials">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            >
              <svg class="team-social-icon" width="24" height="24">
                <use href="../img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/team/t-3-mob-1x.png 1x,
              ../img/team/t-3-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/team/t-3-tab-1x.png 1x,
              ../img/team/t-3-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1336px)"
            srcset="
              ../img/team/t-3-desk-1x.png 1x,
              ../img/team/t-3-desk-2x.png 2x
            "
          />
          <img
            src="../img/team/t-3-mob-1x.png"
            alt="Sophia Lee"
            width="343"
            height="221"
          />
        </picture>
        <div>
          <h3 class="team-name">Sophia Lee</h3>
          <p class="team-descr position">Pilates Trainer</p>
          <p class="team-descr details">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <div class="team-socials">
            <a href="https://www.instagram.com/goitclub/">
              <svg class="team-social-icon" width="24" height="24">
                <use href="../img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/team/t-4-mob-1x.png 1x,
              ../img/team/t-4-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/team/t-4-tab-1x.png 1x,
              ../img/team/t-4-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1336px)"
            srcset="
              ../img/team/t-4-desk-1x.png 1x,
              ../img/team/t-4-desk-2x.png 2x
            "
          />
          <img
            src="../img/team/t-4-mob-1x.png"
            alt="Noah Brown"
            width="343"
            height="221"
          />
        </picture>
        <div>
          <h3 class="team-name">Noah Brown</h3>
          <p class="team-descr position">Yoga Therapist</p>
          <p class="team-descr details">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <div class="team-socials">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            >
              <svg class="team-social-icon" width="24" height="24">
                <use href="../img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/team/t-5-mob-1x.png 1x,
              ../img/team/t-5-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/team/t-5-tab-1x.png 1x,
              ../img/team/t-5-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1336px)"
            srcset="
              ../img/team/t-5-desk-1x.png 1x,
              ../img/team/t-5-desk-2x.png 2x
            "
          />
          <img
            src="../img/team/t-5-mob-1x.png"
            alt="Ava Green"
            width="343"
            height="221"
          />
        </picture>
        <div>
          <h3 class="team-name">Ava Green</h3>
          <p class="team-descr position">Fitness Trainer</p>
          <p class="team-descr details">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <div class="team-socials">
            <ul class="team-socials-list">
              <li>
                <a
                  href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/goitclub/">
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/goITclub/">
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/team/t-6-mob-1x.png 1x,
              ../img/team/t-6-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/team/t-6-tab-1x.png 1x,
              ../img/team/t-6-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1336px)"
            srcset="
              ../img/team/t-6-desk-1x.png 1x,
              ../img/team/t-6-desk-2x.png 2x
            "
          />
          <img
            src="../img/team/t-6-mob-1x.png"
            alt="Clark Thomas"
            width="343"
            height="221"
          />
        </picture>
        <div>
          <h3 class="team-name">Clark Thomas</h3>
          <p class="team-descr position">Fitness Trainer</p>
          <p class="team-descr details">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <div class="team-socials">
            <ul class="team-socials-list">
              <li>
                <a href="https://www.instagram.com/goitclub/">
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/goITclub/">
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
