<section class="yoga-classes" id="yoga-classes">
  <div class="container classes-container">
    <p class="explore-p">Explore</p>
    <h2 class="discover-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="discover-inf">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="discover-list">
      <li class="discover-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/classes/beginner-desk.png   1x,
              ./img/classes/beginner-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/classes/beginner-tab.png   1x,
              ./img/classes/beginner-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/classes/beginner.png   1x,
              ./img/classes/beginner2x.png 2x
            "
          />
          <img
            src="./img/classes/beginner.png"
            alt="beginner-yoga"
            width="343"
            height="198"
          />
        </picture>

        <h4 class="discover-item-title">
          Beginner Yoga: Foundations
          <span class="hidden-part-foundation">for New Practitioners</span>
        </h4>
        <p class="discover-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>

      <li class="discover-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/classes/vinyasa-desk.png   1x,
              ./img/classes/vinyasa-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/classes/vinyasa-tab.png   1x,
              ./img/classes/vinyasa-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/classes/vinyasa.png   1x,
              ./img/classes/vinyasa2x.png 2x
            "
          />
          <img
            src="./img/classes/vinyasa.png"
            alt="vinyasa-yoga"
            width="343"
            height="198"
          />
        <h4 class="discover-item-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h4>
        <p class="discover-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>

      <li class="discover-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/classes/restorative-desk.png   1x,
              ./img/classes/restorative-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/classes/restorative-tab.png   1x,
              ./img/classes/restorative-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/classes/restorative.png   1x,
              ./img/classes/restorative2x.png 2x
            "
          />
          <img
            src="./img/classes/restorative.png"
            alt="restorative-yoga"
            width="343"
            height="198"
          />
        </picture>

        <h4 class="discover-item-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h4>
        <p class="discover-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>

    <a href="#pricing-plans" class="join-btn">Join now</a>
  </div>
</section>
