/* Mobile first: гумова верстка від 320px */
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* Стає адаптивною з 375px */
@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

/* Tablet: з 768px */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop: з 1336px */
@media only screen and (min-width: 1336px) {
  .container {
    max-width: 1336px;
  }
}