.page-header {
    min-width: 343px;
    min-height: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.nav-list {
    display: none;
}

.burger-btn {
    border: none;
    background-color: transparent;
    align-items: center;
    display: flex;
    justify-content: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover,
.burger-btn:focus {
color: #9BADC9;
}

.header-container {
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    align-items: center;
    gap: 55.5px;

}

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}


@media (max-width: 1335px) {
.nav {
width: 100%;
}
}

.btn-push {
    border: 1px solid #C2D9FC;
    border-radius: 100px;
    width: 74px;
    height: 34px;
    background-color: #c2d9fc;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #0D0B0A;
    text-align: center;
    display: block;
    padding: 4px 22px;
}

@media (max-width: 374px) {
    .join-push {
        width: 100%;
    } }

@media screen and (min-width:768px) {
    .btn-push {
    padding: 8px 20px;
    width: 105px;
    height: 42px;
    }

    .btn-push::after {
    content: ' now';
    white-space: nowrap;
    }

    .nav {
    display: flex;
    gap: 286px;
    }

    .header-container {
    justify-content: space-between;
    }
}

@media screen and (min-width:1336px) {
    .header-container {
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        max-width: 1312px;

    }

    .nav {
        display: flex;
        flex-grow: 0;
        gap: 161px;
    }

    .nav-list {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
        max-width: auto;

    }

    .nav-item {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #0D0B0A;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-push {
    padding: 8px 20px;
    width: 105px;
    height: 42px;
    }
    
    .btn-push::after {
    content: ' now';
    white-space: nowrap;   }

    .burger-btn {
    display: none;
    }

    .nav-list li a {
    position: relative;
    text-decoration: none;
    color: black;
    }
    
    .nav-list li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #FCB49Eff;
    transition: width 0.3s ease;
    }
    
    .nav-list li a:hover::after,
    .nav-list li a.active::after {
    width: 100%;
    }
}
 /* Mobile Menu */
 .mobile-menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #fff;

     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 1000;

     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 /* Container mobile-menu */

 .mobile-menu-container {
     display: flex;
     justify-content: space-between;
     padding: 14px;
     padding-left: 0;
     padding-right: 0;
     align-items: center;
    z-index: 1000;
 }

 .mobile-menu-close {
     width: 48px;
     height: 48px;
     top: 24px;
     right: 24px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0;
     background: transparent;
     border: 1px solid rgba(0, 0, 0, 0.0);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu-close:hover,
 .mobile-menu-close:focus {
    background-color: #FCB49Eff;
 }

 .nav-logo-mob {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .btn-push-mob {
     font-family: "Sarabun", sans-serif;
     font-weight: 500;
     font-size: 16px;

     line-height: 160%;
     color: #0d0b0a;

     border: 1px solid #c2d9fc;
     border-radius: 100px;
     padding: 4px 20px;
     width: 70px;
     height: 34px;
     background: #c2d9fc;

     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .btn-join-mob {
     display: none;
 }

 .nav-mobile-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 24px;
     margin-top: 28px;
     align-items: baseline;

     padding-bottom: 160px;
     height: 748px;
 }

 .nav-list-mob {
     display: flex;
     flex-direction: column;
     gap: 24px;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .nav-list-mob li a {
     position: relative;
     text-decoration: none;
     color: black;
 }

 .nav-list-mob li a::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -3px;
     width: 0;
     height: 2px;
     background-color: rgba(13, 11, 10, 0.5);
     transition: width 0.3s ease;
 }

 .nav-list-mob li a:hover::after,
 .nav-list-mob li a.active::after {
     width: 100%;
 }

 .item-list {
     font-size: 16px;
     font-weight: 400;
     text-decoration: none;
     transition: color 0.3s ease;

     font-family: "Sarabun", sans-serif;
     line-height: 160%;
     color: #0d0b0a;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .item-list:hover,
 .item-list:focus {
    color: #FCB49Eff;
    text-shadow: 1px 1px 2px #D4E4FC;
 }

 .btn-menu-mobile {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;

     border: 1px solid #c2d9fc;
     border-radius: 100px;
     padding: 10px 24px;
     width: 343px;
     height: 46px;

     background: #c2d9fc;

     font-family: "Sarabun", sans-serif;
     font-weight: 500;
     font-size: 16px;

     line-height: 160%;
     color: #0d0b0a;
     margin-top: 264px;
     margin-bottom: 160px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .btn-menu-mobile:hover,
 .btn-menu-mobile:focus {
     background-color: #FCB49Eff;
    }

/* Tablet */
 @media only screen and (min-width: 768px) {
     .btn-push-mob {
         border: 1px solid #c2d9fc;
         border-radius: 100px;
         padding: 8px 20px;
         width: 105px;
         height: 42px;

         background: #c2d9fc;
     }

     .btn-join {
         display: inline;
     }

     .mobile-menu-container {
         display: flex;
         justify-content: space-between;
         padding: 8px 0 8px 0;
         align-items: center;
     }

     .nav-mobile-container {
         display: flex;
         flex-direction: column;
         gap: 24px;
         margin-top: 28px;
         align-items: baseline;

         padding-bottom: 160px;
         width: 768px;
         height: 748px;
     }

     .btn-menu-mobile {
         margin-left: 0;
     }
 }

/* DESKTOP */
 @media only screen and (min-width: 1336px) {
     .mobile-menu {
         display: none;
     }
 }

