.hero {
min-width: 343px;
min-height: 100%;
}

.hero-img {
    height: 301px;
    max-width: 375px;
    background-image: url(../img/hero/hero-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin: 0 auto;
}

@media (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-img {
        background-image: url(../img/hero/hero-mob-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-img {
        background-image: url(../img/hero/hero-tab-1x.jpg);
        height: 359px;
        min-width: 768px;
    }

    @media (max-width: 768px) and (min-resolution: 192dpi) {
        .hero-img {
            background-image: url(../img/hero/hero-tab-2x.jpg);
        }
    }

}

@media screen and (min-width: 1336px) {
    .hero-img {
        background-image: url(../img/hero/hero-desk-1x.jpg);
        min-width: 1440px;
        height: 684px;
    }

    @media (max-width: 1336px) and (min-resolution: 192dpi) {
        .hero-img {
            background-image: url(../img/hero/hero-desk-2x.jpg);
        }
    }
}

.hero-container {
    padding: 48px 16px 48px 16px;
}

@media screen and (min-width: 768px) {
    .hero-info {
    padding: 24px 0;
    }
}

@media screen and (min-width: 1336px) {
    .hero-info {
    padding: 80px 0;
    display: flex;
    gap: 24px;
    }
}

.hero-header {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-scheme-3-text);

    margin-bottom: 20px;
}

.hero-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-3-text);

    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .hero-header {
        margin-bottom: 8px;
    }

    .hero-descr {
        font-size: 18px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1336px) {
    .hero-header {
        font-size: 72px;
        margin: unset;
    }
}

.button-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.hero-btn-join {
    border: 1px solid var(--color-hawkes-blue);
    background: var(--color-hawkes-blue);
    border-radius: 100px;
    padding: 10px 24px;
    width: 329px;
    height: 46px;
    display: block;
    
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-learn {
    border: 1px solid var(--opacity-transparent);
    background: var(--opacity-neutral-darkest-5);
    border-radius: 100px;
    padding: 10px 24px;
    width: 329px;
    height: 46px;
    display: block;

        
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
}

@media (max-width: 374px) {
    .hero-btn-join {
        width: 100%;
    }

    .hero-btn-learn {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

    .button-list {
        flex-direction: row;
        justify-content: flex-start;
    }

    .hero-btn-join {
        width: 144px;
    }

.hero-btn-join::after {
    content: ' now';
    white-space: nowrap;
}
    .hero-btn-learn {
        width: 144px;
    }
}

@media screen and (min-width: 1336px) {
    .hero-btn-join {
        width: 113px;
    }

    .hero-btn-join::after {
    content: ' now';
    white-space: nowrap;   
    }

    .hero-btn-learn {
        min-width: 128px;
    }
}